{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/shot.css">{% endblock %}

{% block title %}{{ parent() }} | Generate{% endblock %}

{% block content %}
    <h1 class="text-shadow">YOUR <span>&nbsp;SHOT&nbsp;</span> IS...</h1>

    <h2 class="text-shadow">{{ cocktails.name }}</h2>

    <div class="yourShot container">
        <div class="recipe-container">
            <div>
                <img src="{{ cocktails.image }}" alt="Your shot" class="shot-image box-shadow">
            </div>
            <div class="shot-ingredients">
                <ul>
                    {% if cocktails.ingredient1 is not empty %}
                    <li>{{ cocktails.ingredient1 }}</li>
                    {% endif %}
                    {% if cocktails.ingredient2 is not empty %}
                    <li>{{ cocktails.ingredient2 }}</li>
                    {% endif %}
                    {% if cocktails.ingredient3 is not empty %}
                    <li>{{ cocktails.ingredient3 }}</li>
                    {% endif %}
                    {% if cocktails.ingredient4 is not empty %}
                    <li>{{ cocktails.ingredient4 }}</li>
                    {% endif %}
                    {% if cocktails.ingredient5 is not empty %}
                    <li>{{ cocktails.ingredient5 }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <script>setTimeout(function () {
            window.location.href = "/home/index";
        }, 20000);
    </script>
{% endblock %}