{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/shot.css">{% endblock %}

{% block title %}{{ parent() }} | Generate{% endblock %}

{% block content %}
    <h1 class="text-shadow page-title">YOUR<span>&nbsp;SHOT&nbsp;</span>IS...</h1>

    <h2 class="text-shadow cocktail-title">{{ cocktails.name }}</h2>
        <div class="danger">
            <a  href="/notSnapshot/hattersGonnaHat"><img src="/assets/images/policeman.png" alt=""></a>
        </div>
    <div class="yourShot container">
        <div class="recipe-container">
            <div>
                <img src="{{ cocktails.image }}" class="cocktail" alt="Your shot" class="shot-image box-shadow">
            </div>
            <div class="shot-ingredients">
                <ul>
                    {% if cocktails.ingredient1 is not empty %}
                    <li>{{ cocktails.ingredient1 }}</li>
                    {% endif %}
                    {% if cocktails.ingredient2 is not empty %}
                    <li>{{ cocktails.ingredient2 }}</li>
                    {% endif %}
                    {% if cocktails.ingredient3 is not empty %}
                    <li>{{ cocktails.ingredient3 }}</li>
                    {% endif %}
                    {% if cocktails.ingredient4 is not empty %}
                    <li>{{ cocktails.ingredient4 }}</li>
                    {% endif %}
                    {% if cocktails.ingredient5 is not empty %}
                    <li>{{ cocktails.ingredient5 }}</li>
                    {% endif %}
                    <li>{{ randomIngredient }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container text-center inspirational-bullshit-container">
        <p class="inspirational-bullshit">{{ quote.quoteText }}</p>
    </div>

    <script>setTimeout(function () {
            window.location.href = "/home/index";
        }, 20000000);
    </script>
{% endblock %}