{% extends 'layout.html.twig' %}
{% block stylesheet %} <link rel="stylesheet" href="/assets/css/contact.css"> {% endblock %}
{% block title %}{{ parent() }} | Contact{% endblock %}

{% block content %}
    <div>
        <a class="boutonBeer contact" href="/contact/send"><img src="/assets/images/phone.png" alt=""></a>
        <a class="boutonBeer go-back" href="javascript:history.go(-1)"><img src="/assets/images/left-arrow.png" alt=""></a>
    </div>

    <h1 class="title">Contact</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-12">

            </div>
        </div>
        {% if not errors is empty %}
            <div class="row ">
                {% for error in errors %}
                    <div class="col-md-8 offset-md-2 alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row contactform">
            <div class="col-8 offset-2">
                <h2 class="title-2">Your informations</h2>
                <form action="" method="post">
                    <div class="form-group">
                        <label for="firstname"> Firstname : </label>
                        <input type="text" name="firstname" id="firstname" placeholder="John" value="{{ contact.firstname }}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="lastname"> Lastname : </label>
                        <input type="text" name="lastname" id="lastname" placeholder="Doe" value="{{ contact.lastname }}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email"> Email : </label>
                        <input type="email" name="email" id="email" placeholder="johndoe@gmail.com" value="{{ contact.email }}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message"> Message : </label>
                        <textarea name="message" id="message" placeholder="Write your message here..." value="{{ contact.message }}" class="form-control"></textarea>
                    </div>
                    <div class="d-flex col-lg-12 justify-content-center">
                        <button type="submit" class="boutonBeer btn">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}